h1{
    background-color: #c49c2e;
    color :rgb(255, 255, 255);
    align-items: center;
    align-content: center;
    padding:10px 10px 10px 2px;
    text-align: center;
    text-shadow: darkturquoise;
}
h1:hover{
    background-color: rgb(70, 193, 193);
    color: #06501c;
}
.form{
    display: fles;
    flex-direction: column;
    align-items: center;
    align-self: start;
    padding: 10px 5px 5px 10px;
}